<header>
    <nav class="navbar navbar-inverse navbar-fixed-top big">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="images/logosml.svg" id="logo" class="big" />
                    <img src="images/logotext.svg" id="text" class="hidden-sm hidden-xs" />
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="home">
                        <a href="/">Home</a>
                    </li>
                    <li class="active meet">
                        <a href="/meet">Meet the Organisers</a>
                    </li>
                    <li class="events">
                        <a href="/events">Events</a>
                    </li>
                    <li class="past-events"><a href="/past-events">Past Events</a></li>
                    {{#unless user.displayName}}
                    <li class="signin">
                        <a href="/signin">Sign In</a>
                    </li>
                    {{/unless}}
                    <!-- if a user is signed in, display their name and allow them to log out -->
                    {{#if user.displayName}}
                    <li class="user">
                        <span>Hi, {{user.displayName}}!</span>
                    </li>
                    <li class="logout">
                        <a href="/users/logout">Sign Out</a>
                    </li>
                    {{/if}}


                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</header>

<div class="banner">
    <div class="banner-title">
        <h1 class="title">Meet the Organisers</h1>
    </div>
</div>
<!-- /.banner -->

<div class="container">

    <div class="template">
        <h2>These are the three main organisers of the group.</h2>
    </div>



    <div class="boxes">

        <!-- Meetup -->
        {{#if user.displayName}} {{#each organisers as |val key|}}

        <div class='col-xs-12 col-sm-6 col-md-4 center'>
            <div id='{{lowercase firstName}}' class='organiser'>
                <h3 class='title'>
                    <a href='/user/{{key}}'>{{firstName}}</a>
                </h3>
                <div class="image">
                    <img src="{{userPhoto}}" />
                </div>
                <div class="text">{{userInfo}}</div>
            </div>
        </div>
        {{/each}}

        <!-- end of Meetup -->



        <div class="col-xs-12 col-sm-6 col-md-4 center">
            <div class="organiser" id="tom">
                <h3 class="title">
                    Tom
                </h3>
                <div class="image">
                    <img src="./images/member_248924317.jpeg" />
                </div>
                <div class="text">Hi, I'm Tom and I'm the founder of the group and main organiser.</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 center">
            <div class="organiser" id="ems">
                <h3 class="title">
                    Ems
                </h3>
                <div class="image">
                    <img src="./images/ems.jpg" />
                </div>
                <div class="text">Hello, I'm Ems and I'm one of the assistant organisers.</div>
            </div>
        </div>
    </div>
    {{/if}} {{#unless user.displayName}} {{#each organisers as |val key|}}

    <div class='col-xs-12 col-sm-6 col-md-4 center'>
        <div id='{{lowercase firstName}}' class='organiser'>
            <h3 class='title'>
                {{firstName}}
            </h3>
            <div class="image">
                <img src="{{userPhoto}}" />
            </div>
            <div class="text">{{userInfo}}</div>
        </div>
    </div>
    {{/each}}
    <div class="col-xs-12 col-sm-6 col-md-4 center">
        <div class="organiser" id="tom">
            <h3 class="title">
                Tom
            </h3>
            <div class="image">
                <img src="./images/member_248924317.jpeg" />
            </div>
            <div class="text">Hi, I'm Tom and I'm the founder of the group and main organiser.</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 center">
        <div class="organiser" id="ems">
            <h3 class="title">
                Ems
            </h3>
            <div class="image">
                <img src="./images/ems.jpg" />
            </div>
            <div class="text">Hello, I'm Ems and I'm one of the assistant organisers.</div>
        </div>
    </div>
</div>
{{/unless}}


</div>
<footer>
    <div class="left col-sm-4 col-xs-12">
        <a href="https://www.meetup.com/Bristol-Photography-Group/pages/19714523/Bristol_Photography_Group_Code_of_Conduct/" target="_blank"
            title="BPG code of conduct">
        BPG Code of Conduct
        </a>
    </div>
    <div class="center col-sm-4 col-xs-12">
        <a class="meet" href="https://www.meetup.com/Bristol-Photography-Group/" target="_blank" title="Join us on Meetup!"></a>
        <a class="flickr" href="https://www.flickr.com/groups/meetupbpg/" target="_blank" title="Join us on Flickr!"></a>
        <a class="instagram" href="https://www.instagram.com/bpger/?hl=en" target="_blank" title="Follow us on Instagram!"></a>
        <a class="twitter" href="https://twitter.com/bpger?lang=en" target="_blank" title="Follow us on Twitter!"></a>
    </div>
    <div class="right col-sm-4 col-xs-12">
        BPG 2010 | Website created by Lucy Stanton 2017
    </div>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document'<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="javascripts/bootstrap.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->


<domflags id="domflags-root"></domflags>

<script src="javascripts/animate.js"></script>

</body>

</html>