<!-- Beginning of header -->
<header>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHARWllkT3S22tgiTiM3P9RqSq4xrBiAo&sensor=false"></script>
    <!-- Beginning of navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top big">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- logos -->
                <a class="navbar-brand" href="/">
                    <img src="/images/logosml.svg" id="logo" class="big" alt="Bristol Photography Group" />
                    <img src="/images/logotext.svg" id="text" class="hidden-sm hidden-xs" />
                </a>
                <!-- End of logos -->
            </div>
            <!-- Beginning of nav-collapse -->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="home"><a href="/">Home</a></li>
                    <li class="meet"><a href="/meet">Meet the Organisers</a></li>
                    <!-- If events is set to true, give it an active class -->
                    <li class="{{#contains upcoming "true"}} active {{/contains}}events"><a href="/events">Events</a></li>
                    <!-- If past-events is set to true, give it an active class -->
                    <li class="{{#contains past "true"}} active {{/contains}}past-events"><a href="/past-events">Past Events</a></li>
                    <!-- Unless a user has signed in, show the sign in/register buttons -->
                    {{#unless user.displayName}}
                    <li class="signin">
                        <a href="/signin">Sign In</a>
                    </li>
                    {{/unless}}
                    <!-- End of unless -->
                    <!-- If a user is signed in, display their name and allow them to log out -->
                    {{#if user.displayName}}
                    <li class="user">
                        <span>Hi, {{user.displayName}}!</span>
                    </li>
                    <li class="logout">
                        <a href="/users/logout">Sign Out</a>
                    </li>
                    {{/if}}
                    <!-- End of if -->
                </ul>
            </div>
            <!-- End of nav-collapse -->
        </div>
    </nav>
    <!-- End of nav -->
</header>
<!-- End of header -->

<!-- Beginning of event details -->
<div class="event-details">
    <!-- Beginning of banner -->
    <div class="banner">
        <div class="banner-title">
            <h1 class="title">{{title}}</h1>
        </div>
    </div>
    <!-- End of banner -->
    <!-- Beginning of container -->
    <div class="container content">
        <!-- Unless the user is signed in -->
        {{#unless user.displayName}}
        <div class="col-md-5">
            <!-- If events is set to upcoming -->
            {{#contains upcoming "true"}}
            <a class="btn back-btn" href="/events">Back</a> {{/contains}}
            <!-- End of contains -->
            <!-- If events is set to past -->
            {{#contains past "true"}}
            <a class="btn back-btn" href="/past-events">Back</a>
            <h2 class="event-header">{{time}}</h2>
            {{/contains}}
            <!-- End of contains -->
            <div class="desc">{{{desc}}}</div>

        </div>
        <div class="col-md-7">
            <!-- If events is set to past -->
            {{#contains past "true"}}
            <h2 class="event-header">{{loc}}</h2>
            {{/contains}}
            <!-- End of contains -->
            <!-- Beginning of map area -->
            <div id="floating-panel">
                <div class="address-form">
                    Enter your address: <input id="address" class="form-control" type="text" />
                    <button id="submit" class="btn btn-primary inline" type="submit">Submit</button><br/> Mode of Travel:
                    <select class="form-control" id="mode">
                        <option value="DRIVING">Driving</option>
                        <option value="WALKING">Walking</option>
                        <option value="BICYCLING">Cycling</option>
                        <option value="TRANSIT">Transit</option>
                    </select>
                </div>
            </div>
            <div id="map"></div>
            <div id="panel"></div>
            <!-- End of map area -->


        </div>
        {{/unless}}
        <!-- End unless -->
        <!-- If the user is signed in -->
        {{#if user.displayName}}
        <div class="col-md-5">
            <!-- If events is set to upcoming -->
            {{#contains upcoming "true"}}
            <a class="btn back-btn" href="/events">Back</a> {{/contains}}
            <!-- End of contains -->
            <!-- If events is set to past -->
            {{#contains past "true"}}
            <a class="btn  back-btn" href="/past-events">Back</a> {{/contains}}
            <!-- End of contains -->
            <h2 class="event-header">{{time}}</h2>
            <div class="desc">{{{desc}}}</div>
        </div>
        <div class="col-md-7">
            <h2 class="event-header">{{loc}}</h2>
            <!-- Beginning of map area -->
            <div id="floating-panel">
                <div class="address-form">
                    Enter your address: <input id="address" class="form-control" type="text" />
                    <button id="submit" class="btn btn-primary inline" type="submit">Submit</button><br/>
                    <b>Mode of Travel: </b>
                    <select class="form-control" id="mode">
                       <option value="DRIVING">Driving</option>
                       <option value="WALKING">Walking</option>
                       <option value="BICYCLING">Cycling</option>
                       <option value="TRANSIT">Transit</option>
                    </select>
                </div>
            </div>
            <div id="map"></div>
            <div id="panel"></div>
            <!-- End of map area -->

            <!-- If events is set to upcoming -->
            {{#contains upcoming "true"}}
            <a class="btn btn-primary" href="{{link}}" target="_blank">RSVP</a> {{/contains}}
            <!-- End of contains -->
            <!-- If events is set to past -->
            {{#contains past "true"}}
            <a class="btn btn-primary" href="https://www.flickr.com/groups/meetupbpg/" target="_blank">Upload to Flickr</a>            {{/contains}}
            <!-- End of contains -->
        </div>
        {{/if}}
        <!-- End if -->
    </div>
    <!-- End of container -->
</div>
<!-- script for Google maps -->
<!-- 
    The following links helped me add the direction script to the Google Map script already in use
    https://developers.google.com/maps/documentation/javascript/examples/directions-travel-modes
    http://stackoverflow.com/questions/33506304/input-for-google-maps-directions
-->
<script type="text/javascript">
                var directionsService = new google.maps.DirectionsService();
                var directionsDisplay = new google.maps.DirectionsRenderer();
                var latLng = new google.maps.LatLng({{lat}}, {{lon}});

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom:7,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                
                directionsDisplay.setMap(map);
                calculateAndDisplayRoute(directionsService, directionsDisplay);
                document.getElementById('mode').addEventListener('change', function() {
                    calculateAndDisplayRoute(directionsService, directionsDisplay);
                });
                directionsDisplay.setPanel(document.getElementById('panel'));
                
                var request = {
                    origin: latLng,
                    destination: latLng,
                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                };
                
                directionsService.route(request, function(response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    }
                });
                
                $('#submit').click(function() {
                    var selectedMode = document.getElementById('mode').value;
                    var address = $('#address').val();
                    directionsService.route({
                        origin: address,
                        destination: latLng,
                        travelMode: google.maps.TravelMode[selectedMode]
                    }, function(response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            directionsDisplay.setDirections(response);
                        }
                    });
                });
                
                function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                    var selectedMode = document.getElementById('mode').value;
                    var address = $('#address').val();
                    directionsService.route({
                        origin: address,
                        destination: latLng,
                        travelMode: google.maps.TravelMode[selectedMode]
                    }, function(response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            directionsDisplay.setDirections(response);
                        }
                    });
                }
</script>
<!-- End of Google Maps -->
<!-- Beginning of footer -->
<footer>
    <div class="left col-sm-4 col-xs-12">
        <a href="https://www.meetup.com/Bristol-Photography-Group/pages/19714523/Bristol_Photography_Group_Code_of_Conduct/" target="_blank" title="BPG code of conduct">
        BPG Code of Conduct
        </a>
    </div>
    <div class="center col-sm-4 col-xs-12">
        <a class="meet" href="https://www.meetup.com/Bristol-Photography-Group/" target="_blank" title="Join us on Meetup!"></a>
        <a class="flickr" href="https://www.flickr.com/groups/meetupbpg/" target="_blank" title="Join us on Flickr!"></a>
        <a class="instagram" href="https://www.instagram.com/bpger/?hl=en" target="_blank" title="Follow us on Instagram!"></a>
        <a class="twitter" href="https://twitter.com/bpger?lang=en" target="_blank" title="Follow us on Twitter!"></a>
    </div>
    <div class="right col-sm-4 col-xs-12">
        BPG 2010 | Website created by Lucy Stanton 2017
    </div>
</footer>
<!-- End of footer -->
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->


<domflags id="domflags-root"></domflags>

<script src="../javascripts/animate.js"></script>


</body>

</html>